<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cseaunited">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cseaunited">
        <activity android:name=".FalguniActivity"></activity>
        <activity android:name=".ShreyaActivity" />
        <activity android:name=".AlokActivity" />
        <activity android:name=".DeepActivity" />
        <activity android:name=".GirlsActivity" />
        <activity android:name=".BoysActivity" />
        <activity android:name=".CrActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>